html,
body {
	height: 100%; /* Allow percentage heights */
}

html {
	box-sizing: border-box; /* Replace confucing default behaviour */
}

*,
*::before,
*::after {
	box-sizing: inherit; /* Replace confucing default behaviour */
	margin: 0; /* Remove default margins */
}

textarea {
	font: inherit; /* Make textarea inherit typographic styles from its parents */
}

body {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
header {
	height: 10%;
	max-width: 100%;
}

main {
	height: 90%;
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 16px 16px;
	grid-template-areas:
		"key key"
		"input output"
		"button button";
}

.key-container {
	grid-area: key;
}
.text-container {
	grid-area: input;
	max-width: 50%;
}
.output-container {
	grid-area: output;
	max-width: 50%;
}
.button-container {
	grid-area: button;
}
